
<style>
  .resource-display__add-container {
    text-align: right;
    font-size: 2em;
    color: #c73333;
    padding-top: 10px;
  }
</style>

<script type="text/javascript">

// $(function() { 
//     // Initialize communityActivities array from sessionStorage or as an empty array
//     const communityActivities = JSON.parse(sessionStorage.getItem('communityActivities')) || [];
//     const $resourceButtons = $(".resource-display__add");

//     // Function to fetch and add resource data by id
//     function addResourceData(id) {
//         $.getJSON(`/in_person_interest_resources/${id}.json`)
//             .done((data) => {
//                 communityActivities.push(data);
//                 sessionStorage.setItem('communityActivities', JSON.stringify(communityActivities));
//             })
//             .fail(() => console.error(`Failed to fetch data for resource with id: ${id}`));
//     }

//     // Function to remove resource data by id
//     function removeResourceData(id) {
//       const updatedItems = communityActivities.filter(item => item.id !== id);
//       sessionStorage.setItem('communityActivities', JSON.stringify(updatedItems));
//     }

//     // Function to update button icon based on whether resource exists
//     function updateButtonIcon($button, exists) {
//         $button.toggleClass("fa-plus-circle", exists);
//         $button.toggleClass("fa-minus-circle");
//     }

//     // Event handler for resource-display__add button clicks
//     $resourceButtons.on("click", function() {
//         const id = $(this).data("id");
//         if($(this).hasClass("fa-plus-circle")){
//           addResourceData(id);
//         }
//         else if ($(this).hasClass("fa-minus-circle")) {
//           removeResourceData(id);
//         }
        
//     });

//     // Check if resources already exist and update button icons accordingly
//     $resourceButtons.each(function () {
//         const id = $(this).data("id");
//         const exists = communityActivities.some(activity => activity.id === id);
//         updateButtonIcon($(this), exists);
//     });
// });


</script>


<div id="<%= dom_id in_person_interest_resource %>" data-id="<%= in_person_interest_resource.id %>" class="resource-display">

  <div class="resource-display__add-container">
    <i class="resource-display__add fa fa-plus-circle" aria-hidden="true" data-id="<%= in_person_interest_resource.id %>"></i>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>Name:</strong></div>
    <div class="field-value"><%= in_person_interest_resource.name %></div>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>Address:</strong></div>
    <div class="field-value"><%= in_person_interest_resource.address %></div>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>Phone:</strong></div>
    <% if in_person_interest_resource.phone != "" %>
      <div class="field-value"><%= in_person_interest_resource.phone %></div>
    <% else %>
      <div class="field-value">Not listed.</div>
    <% end %>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>Website:</strong></div>
    <% if in_person_interest_resource.website != "" %>
      <div class="field-value">
        <a href="<%= in_person_interest_resource.website %>"><%= in_person_interest_resource.website %></a>
      </div>
    <% else %>
      <div class="field-value">Not listed.</div>
    <% end %>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>Bus routes:</strong></div>
    <% if in_person_interest_resource.bus_routes != "" and in_person_interest_resource.bus_routes != nil %>
      <div class="field-value">
        <%= in_person_interest_resource.bus_routes %>
      </div>
    <% else %>
      <div class="field-value">Not listed.</div>
    <% end %>
  </div>

  <div class="display-field display-field__big-field">
    <div class="field-label"><strong>Hours of Operation:</strong></div>
    <div class="field-value">
      <table>
        <tr>
          <th></th>
          <th>Opens at:</th>
          <th>Closes at:</th>
        </tr>

        <% ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"].each do |day| %>
          <tr>
            <td><strong><%= day.capitalize %></strong></td>
            <% if in_person_interest_resource["#{day}_opening_hours"].present? && in_person_interest_resource["#{day}_closing_hours"].present? %>
              <td><%= in_person_interest_resource["#{day}_opening_hours"].strftime('%I:%M %p') %></td>
              <td><%= in_person_interest_resource["#{day}_closing_hours"].strftime('%I:%M %p') %></td>
            <% else %>
              <td>Closed</td>
              <td>Closed</td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <% if in_person_interest_resource.pricing_accomodations != "" and in_person_interest_resource.pricing_accomodations != nil %>
  <div class="display-field display-field__big-field">
    <div class="field-label"><strong>Pricing Accomodations:</strong></div>
    <div class="field-value"><%= in_person_interest_resource.pricing_accomodations %></div>
  </div>
  <% end %>

  <div class="display-field display-field__big-field">
    <div class="field-label"><strong>Information:</strong></div>
    <div class="field-value"><%= in_person_interest_resource.information %></div>
  </div>

  <% if in_person_interest_resource.interests_tag_list.length != 0 %>
  <div class="display-field">
    <div class="field-label"><strong>Interests Tags:</strong></div>
    <div class="field-value">
      <% in_person_interest_resource.interests_tag_list.each do |t| %>
          <%= link_to t, interest_tagged_path(tag: t) %><br/>
      <% end %>
    </div>
  </div>
  <% end %>


</div>
