<p style="color: green"><%= notice %></p>

<%= render @in_person_interest_resource %>

<div>
  <% if user_signed_in? %>
    <%= link_to "Edit this in person interest resource", edit_in_person_interest_resource_path(@in_person_interest_resource) %> |
  <% end %>

  <%= link_to "Back to in person interest resources", in_person_interest_resources_path %>

  <% if user_signed_in? %>
    <%= button_to "Destroy this in person interest resource", @in_person_interest_resource, method: :delete %>
  <% end %>
</div>
