<div id="<%= dom_id in_person_wellbeing_resource %>" class="resource-display">
  <div class="resource-display__add-container">
    <div class="circle-plus closed">
      <div class="circle">
        <div class="horizontal"></div>
        <div class="vertical"></div>
      </div>
    </div>
  </div>
  
  <div class="display-field">
    <div class="field-label"><strong>Name:</strong></div>
    <div class="field-value"><%= in_person_wellbeing_resource.name %></div>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>Address:</strong></div>
    <div class="field-value"><%= in_person_wellbeing_resource.address %></div>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>Phone:</strong></div>
    <% if in_person_wellbeing_resource.phone != ""%>
      <div class="field-value"><%= in_person_wellbeing_resource.phone %></div>
    <% else %>
      <div class="field-value">Not listed.</div>
    <% end %>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>Website:</strong></div>
    <% if in_person_wellbeing_resource.website != ""%>
      <div class="field-value">
        <a href="<%= in_person_wellbeing_resource.website %>"><%= in_person_wellbeing_resource.website %></a>
      </div>
    <% else %>
      <div class="field-value">Not listed.</div>
    <% end %>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>Bus routes:</strong></div>
    <% if in_person_wellbeing_resource.bus_routes != "" and in_person_wellbeing_resource.bus_routes != nil %>
      <div class="field-value">
        <%= in_person_wellbeing_resource.bus_routes %>
      </div>
    <% else %>
      <div class="field-value">Not listed.</div>
    <% end %>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>Hours of Operation:</strong></div>
    <div class="field-value">

      <table>
        <tr>
          <th></th>
          <th>Opens at:</th>
          <th>Closes at:</th>
        </tr>
        <tr>
          <td><strong>Monday</strong></td>
          <% if in_person_wellbeing_resource.monday_opening_hours != nil and in_person_wellbeing_resource.monday_closing_hours != nil %>
            <td><%= in_person_wellbeing_resource.monday_opening_hours.strftime('%I:%M %p') %></td>
            <td><%= in_person_wellbeing_resource.monday_closing_hours.strftime('%I:%M %p') %></td>
          <% else %>
            <td>Closed</td>
            <td>Closed</td>
          <% end %>
        </tr>

        <tr>
          <td><strong>Tuesday</strong></td>
          <% if in_person_wellbeing_resource.tuesday_opening_hours != nil and in_person_wellbeing_resource.tuesday_closing_hours != nil %>
            <td><%= in_person_wellbeing_resource.tuesday_opening_hours.strftime('%I:%M %p') %></td>
            <td><%= in_person_wellbeing_resource.tuesday_closing_hours.strftime('%I:%M %p') %></td>
          <% else %>
            <td>Closed</td>
            <td>Closed</td>
          <% end %>
        </tr>

        <tr>
          <td><strong>Wednesday</strong></td>
          <% if in_person_wellbeing_resource.wednesday_opening_hours != nil and in_person_wellbeing_resource.wednesday_closing_hours != nil %>
            <td><%= in_person_wellbeing_resource.wednesday_opening_hours.strftime('%I:%M %p') %></td>
            <td><%= in_person_wellbeing_resource.wednesday_closing_hours.strftime('%I:%M %p') %></td>
          <% else %>
            <td>Closed</td>
            <td>Closed</td>
          <% end %>
        </tr>

        <tr>
          <td><strong>Thursday</strong></td>
          <% if in_person_wellbeing_resource.thursday_opening_hours != nil and in_person_wellbeing_resource.thursday_closing_hours != nil %>
            <td><%= in_person_wellbeing_resource.thursday_opening_hours.strftime('%I:%M %p') %></td>
            <td><%= in_person_wellbeing_resource.thursday_closing_hours.strftime('%I:%M %p') %></td>
          <% else %>
            <td>Closed</td>
            <td>Closed</td>
          <% end %>
        </tr>

        <tr>
          <td><strong>Friday</strong></td>
          <% if in_person_wellbeing_resource.friday_opening_hours != nil and in_person_wellbeing_resource.friday_closing_hours != nil %>
            <td><%= in_person_wellbeing_resource.friday_opening_hours.strftime('%I:%M %p') %></td>
            <td><%= in_person_wellbeing_resource.friday_closing_hours.strftime('%I:%M %p') %></td>
          <% else %>
            <td>Closed</td>
            <td>Closed</td>
          <% end %>
        </tr>

        <tr>
          <td><strong>Saturday</strong></td>
          <% if in_person_wellbeing_resource.saturday_opening_hours != nil and in_person_wellbeing_resource.saturday_closing_hours != nil %>
            <td><%= in_person_wellbeing_resource.saturday_opening_hours.strftime('%I:%M %p') %></td>
            <td><%= in_person_wellbeing_resource.saturday_closing_hours.strftime('%I:%M %p') %></td>
          <% else %>
            <td>Closed</td>
            <td>Closed</td>
          <% end %>
        </tr>

        <tr>
          <td><strong>Sunday</strong></td>
          <% if in_person_wellbeing_resource.sunday_opening_hours != nil and in_person_wellbeing_resource.sunday_closing_hours != nil %>
            <td><%= in_person_wellbeing_resource.sunday_opening_hours.strftime('%I:%M %p') %></td>
            <td><%= in_person_wellbeing_resource.sunday_closing_hours.strftime('%I:%M %p') %></td>
          <% else %>
            <td>Closed</td>
            <td>Closed</td>
          <% end %>
        </tr>
        
      </table>
    </div>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>Information:</strong></div>
    <div class="field-value"><%= in_person_wellbeing_resource.information %></div>
  </div>

  <% if in_person_wellbeing_resource.services_tag_list.length != 0 %>
  <div class="display-field">
    <div class="field-label"><strong>Services Tags:</strong></div>
    <div class="field-value">
      <% in_person_wellbeing_resource.services_tag_list.each do |t| %>
          <%= link_to t, wellbeing_tagged_path(tag: t) %><br/>
      <% end %>
    </div>
  </div>
  <% end %>

</div>
