<div id="<%= dom_id online_peer_and_recovery_resource %>" class="resource-display">
  <div class="display-field">
    <div class="field-label"><strong>Name:</strong></div>
    <div class="field-value"><%= online_peer_and_recovery_resource.name %></div>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>Hosting org:</strong></div>
    <div class="field-value"><%= online_peer_and_recovery_resource.hosting_org %></div>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>Hosting org website:</strong></div>
    <div class="field-value">
      <a href="<%= online_peer_and_recovery_resource.hosting_org_website %>">
        <%= online_peer_and_recovery_resource.hosting_org_website %>
      </a>
    </div>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>Time of meetings:</strong></div>
    <div class="field-value"><%= online_peer_and_recovery_resource.time_of_meetings %></div>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>How to access:</strong></div>
    <div class="field-value"><%= online_peer_and_recovery_resource.how_to_access %></div>
  </div>

  <div class="display-field">
    <div class="field-label"><strong>Description:</strong></div>
    <div class="field-value"><%= online_peer_and_recovery_resource.description %></div>
  </div>

</div>
