<p style="color: green"><%= notice %></p>

<%= render @online_peer_and_recovery_resource %>

<div>
  <% if user_signed_in? %>
    <%= link_to "Edit this online peer and recovery resource", edit_online_peer_and_recovery_resource_path(@online_peer_and_recovery_resource) %> |
  <% end %>
  <%= link_to "Back to online peer and recovery resources", online_peer_and_recovery_resources_path %>

  <% if user_signed_in? %>
    <%= button_to "Destroy this online peer and recovery resource", @online_peer_and_recovery_resource, method: :delete %>
  <% end %>
</div>
