<div id="<%= dom_id in_person_recovery_resource %>">
  <p>
    <strong>Name:</strong>
    <%= in_person_recovery_resource.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= in_person_recovery_resource.address %>
  </p>

  <p>
    <strong>Monday opening hours:</strong>
    <%= in_person_recovery_resource.monday_opening_hours %>
  </p>

  <p>
    <strong>Monday closing hours:</strong>
    <%= in_person_recovery_resource.monday_closing_hours %>
  </p>

  <p>
    <strong>Tuesday opening hours:</strong>
    <%= in_person_recovery_resource.tuesday_opening_hours %>
  </p>

  <p>
    <strong>Tuesday closing hours:</strong>
    <%= in_person_recovery_resource.tuesday_closing_hours %>
  </p>

  <p>
    <strong>Wednesday opening hours:</strong>
    <%= in_person_recovery_resource.wednesday_opening_hours %>
  </p>

  <p>
    <strong>Wednesday closing hours:</strong>
    <%= in_person_recovery_resource.wednesday_closing_hours %>
  </p>

  <p>
    <strong>Thursday opening hours:</strong>
    <%= in_person_recovery_resource.thursday_opening_hours %>
  </p>

  <p>
    <strong>Thursday closing hours:</strong>
    <%= in_person_recovery_resource.thursday_closing_hours %>
  </p>

  <p>
    <strong>Friday opening hours:</strong>
    <%= in_person_recovery_resource.friday_opening_hours %>
  </p>

  <p>
    <strong>Friday closing hours:</strong>
    <%= in_person_recovery_resource.friday_closing_hours %>
  </p>

  <p>
    <strong>Saturday opening hours:</strong>
    <%= in_person_recovery_resource.saturday_opening_hours %>
  </p>

  <p>
    <strong>Saturday closing hours:</strong>
    <%= in_person_recovery_resource.saturday_closing_hours %>
  </p>

  <p>
    <strong>Sunday opening hours:</strong>
    <%= in_person_recovery_resource.sunday_opening_hours %>
  </p>

  <p>
    <strong>Sunday closing hours:</strong>
    <%= in_person_recovery_resource.sunday_closing_hours %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= in_person_recovery_resource.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= in_person_recovery_resource.address %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= in_person_recovery_resource.website %>
  </p>

  <p>
    <strong>Information:</strong>
    <%= in_person_recovery_resource.information %>
  </p>

  <% if in_person_recovery_resource.services_tag_list.length != 0 %>
  <p>
    <strong>Services Tags:</strong>
    <%= in_person_recovery_resource.services_tag_list %>
  </p>
  <% end %>

   <% if in_person_recovery_resource.recovery_models_tag_list.length != 0 %>
  <p>
    <strong>Recovery Models Tags:</strong>
    <%= in_person_recovery_resource.recovery_models_tag_list %>
  </p>
  <% end %>



</div>
