<p style="color: green"><%= notice %></p>

<%= render @in_person_recovery_resource %>

<div>
  <%= link_to "Edit this in person recovery resource", edit_in_person_recovery_resource_path(@in_person_recovery_resource) %> |
  <%= link_to "Back to in person recovery resources", in_person_recovery_resources_path %>

  <%= button_to "Destroy this in person recovery resource", @in_person_recovery_resource, method: :delete %>
</div>
