<!DOCTYPE html>
<html>

  <head>
   
    <title><%= content_for(:title) || "Community Resource App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

 
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>

  <header style="background:rgb(46, 56, 162); color: white; font-weight: 700;padding: 30px;">
    <nav style="display: flex;">
      <div class="nav-left" style="flex:6;font-size: 18px;"><a href="/" class="logo" style="color:white;">Mini Case Management Tool</a></div>
      <div class="nav-right" style="flex:1;text-align: right;">
        <i id="open-menu" class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </nav>
    <div id="nav-menu" class="nav-close">
      <span id="close-nav-menu">X</span>
      <ul class="navigation">
        <li class="nav-link"><a href="#">Home</a></li>
        <li class="nav-link"><a href="#">Interest-Based Activities</a></li>
        <li class="nav-link"><a href="#">Substance Recovery Resources</a></li>
        <li class="nav-link"><a href="#">Online Peer Groups</a></li>
      </ul>
    </div>

    <script>
      $(function() {
        $("#open-menu").click(function(){
          $("#nav-menu").removeClass("nav-close");
          $("#nav-menu").addClass("fade-in-div");
        });

        $("#close-nav-menu").click(function(){
          $("#nav-menu").addClass("nav-close");
          $("#nav-menu").removeClass("fade-in-div");
        });
      });
    </script>
    <style>

      .nav-close {
        display: none !important;
      }
      .fade-in-div { animation: fadeIn .5s; }

      @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }

      .navigation {
        list-style-type: none;
        list-style-type: none;
        padding: 10px;
      }
      #open-menu {
        font-size: 1.4em;
      }
      #nav-menu {
        text-align: center;
        position: absolute;
        padding: 10px;
        background: rgb(46, 56, 162);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        position: fixed;
      }
      .nav-link {
        color: white;
        font-size: 1.8em;
        line-height: 1.4em;
        padding: 20px 0;
      }

      .nav-link > a {
        color: white;
      }

      #close-nav-menu {
        display: block;
        text-align: right;
        font-size: 2em;
        margin-right: 10px;
        margin-top: 10px;
      }
    </style>
  </header>
  <body>
    <div class="container text-center">
      <%= yield %>
    </div>
  </body>
  <footer>
    Resource maintained by <a href="https://callbubbie.org" target="_blanket">Call Bubbie</a> © 2024. Please credit back to Call Bubbie if resource is linked.
  </footer>
</html>
