<!DOCTYPE html>
<html>

  <head>
   
    <title><%= content_for(:title) || "Community Resource App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

 
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>

  <header>
    <nav>

      <!-- Navigation blue bar -->
      <div class="nav__left">
        <a class="logo--white" href="/">Mini Case Management Tool</a>
      </div>
      <div class="nav__right">
        <i id="nav__open-menu-button" class="nav__open-menu-button fa fa-bars" aria-hidden="true"></i>
      </div>

      <!-- Navigation menu -->
      <div id="nav__menu" class="nav__menu nav__menu--closed-state">
        <span id="nav__close-menu-button" class="nav__close-menu-button">X</span>
        <ul class="nav__link-list">
          <li class="nav__link"><a href="/">Home</a></li>
          <li class="nav__link"><a href="/in_person_interest_resources">Interest-Based Activities</a></li>
          <li class="nav__link"><a href="/in_person_recovery_resources">Substance Recovery Resources</a></li>
          <li class="nav__link"><a href="/online_peer_and_recovery_resources">Online Peer Groups</a></li>
          <li class="nav__link nav__link--button">
            <a href="#">Print Resource Sheet <i class="fa fa-print" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      
    </nav>

  </header>


  <body>
    <div class="container text-center">
      <%= yield %>
    </div>
  </body>
  <footer>
    Resource maintained by <a href="https://callbubbie.org" target="_blanket">Call Bubbie</a> © 2024. Please credit back to Call Bubbie if resource is linked.
  </footer>
</html>

<script>
$(function() {


  const navMenu = $("#nav__menu");
  const navOpenBtn = $("#nav__open-menu-button");
  const navCloseBtn = $("#nav__close-menu-button");
  //Open navigation menu
  navOpenBtn.click(function(){
    navMenu.removeClass("nav__menu--closed-state");
    navMenu.addClass("nav__menu--fade-in");
  });
  //Close navigation menu
  navCloseBtn.click(function(){
    navMenu.addClass("nav__menu--closed-state");
    navMenu.removeClass("nav__menu--fade-in");
  });


  $('.circle-plus').on('click', function(){
    $(this).toggleClass('opened');
  })

  $('.circle-plus-two').on('click', function(){
    $(this).toggleClass('opened');
  })
});
</script>
<style>
.resource-display__add-container {
  display: flex;
  justify-content: right;
}

.closed .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}
.closed .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1;
}

.opened {
  opacity: 1;
}
.opened .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
}
.opened .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
  opacity: 0;
}

.circle-plus {
  font-size: 1em;
  margin-top: 20px;
  opacity: 0.7;
}

.circle-plus .circle {
  position: relative;
  width: 51px;
  height: 51px;
  border-radius: 100%;
  border: solid 0.2em #dfdad7;
}

.circle-plus .circle .horizontal {
  position: absolute;
  background-color: red;
  width: 30px;
  height: 5px;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: -2.5px;
}

.circle-plus .circle .vertical {
  position: absolute;
  background-color: red;
  width: 5px;
  height: 30px;
  left: 50%;
  margin-left: -2.5px;
  top: 50%;
  margin-top: -15px;
}
</style>